* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.banner {
    background-color: #f3dde2;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.banner_description {
    font: bolder;
    font-weight: 800;
}

.banner img {
    height: 600px;
    margin-top: 40px;
    margin-left: 100px;
}

.pink_btn {
    background-color: #E55473;
    border: 0;
    color: white;
    font: bold;
    padding: 15px 25px;
    border-radius: 5px;
}

.featured_sec {
    text-align: center;
    margin-top: 100px;
}

.featured_collection {
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
}

.featured_collection a {
    color: black;
}

.peach {
    background-color: #f3dde2;
    padding: 20px;
    margin-bottom: 30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.peach img {
    margin-top: 80px;
}


.pink {
    background-color: #bee9eb;
    padding: 50px;
    margin-bottom: 30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.red {
    background-color: #d6ebc1;
    padding: 20px;
    margin-bottom: 30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.red img {
    margin-top: 100px;
}

.services {
    margin: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flower {
    background-color: rgb(180, 94, 180);
    color: white;
    padding: 10px;
}

.lists {
    margin-left: 100px;
}

.delivery_section {
    background-color: #efeded;
    margin: 90px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.pinky {
    color: #E55473;
}

.deals {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f0f1;
    margin-bottom: 80px;
    padding: 50px;
}

.details {
    margin: 10px 0;
}

.deals img {
    margin-left: 100px;
}

.ig {
    text-align: center;
    margin-bottom: 30px;
}

.social_medias {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.flower_cover {
    margin: 100px auto;
    background-image: url(./images/Rectangle\ 9.png);
    background-size: contain;
    text-align: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 80%;
}

.description {
    position: relative;
    top: 120px;

}

.email_btn {
    padding: 15px 200px;
    border: 0;
    border-radius: 5px;

}

.input_btn {
    margin-top: 15px;
}

footer {
    background-color: black;
    margin-top: -150px;
    text-align: center;
    align-items: center;
    color: white;
    height: 300px;
    padding: 50px;


}